<table mat-table [dataSource]="bookings">
  <!-- start time column -->
  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef>Start</th>
    <td mat-cell *matCellDef="let row">{{row.startTime | date:'short'}}</td>
  </ng-container>

  <!-- end time column -->
  <ng-container matColumnDef="endTime">
    <th mat-header-cell *matHeaderCellDef>End</th>
    <td mat-cell *matCellDef="let row">{{row.endTime | date:'short'}}</td>
  </ng-container>

  <!-- project column -->
  <ng-container matColumnDef="projectId">
    <th mat-header-cell *matHeaderCellDef>Project</th>
    <td mat-cell *matCellDef="let row">{{row.projectId}}</td>
  </ng-container>

  <!-- types column -->
  <ng-container matColumnDef="types">
    <th mat-header-cell *matHeaderCellDef>Types</th>
    <td mat-cell *matCellDef="let row">{{row.types}}</td>
  </ng-container>

  <!-- remarks column -->
  <ng-container matColumnDef="remarks">
    <th mat-header-cell *matHeaderCellDef>Remarks</th>
    <td mat-cell *matCellDef="let row">{{row.remarks}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
